body {
	margin: 0;
	font-family: sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: end;
	height: calc(100vh - 48px); /* - padding x 2 */
	padding: 24px;
}

#bgslide {
	visibility: hidden;
	opacity: 0;
	transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	gap: 4px;
}

#bgslide.show {
	visibility: visible;
	opacity: 1;
	transition-delay: 0ms;
}

#title { 
	font-size: x-large;
	border-radius: 5px;
	padding: 8px;
	background: silver;	
}

#contents {
	box-sizing: border-box;
	font-size: large;
	min-height: 200px;
	width: 100%;
	padding: 8px;
	color: #fff;
	background-color: rgba(0,0,0,0.75);
	border-radius: 10px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
}

#contents #text {
	margin: 0;
	padding: 0;
	flex: 1;
	text-align: justify;
}

#version {
	text-align: right;
	font-size: x-small;
}

