.container {
	padding: 0 124px 24px 124px;
}

#bgslide {
	border-radius: 10px;
	background-color: rgba(12, 12, 12, 0.95);
	border: 1px solid rgba(255, 255, 255, 0.04);
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.55);
}

#title {
	margin: -22px 0 0 8px;
	font-size: 24px;
	font-weight: 800;
	padding: 10px 18px;
	text-transform: uppercase;
	border-radius: 6px;
	background-color: rgba(0, 98, 171, 1);
	box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
	color: #fff;
}

#contents {
	font-size: 28px;
	font-weight: 700;
	min-height: 145px;
	padding: 8px 28px 26px;
}

#contents #text {
	margin: 0;
	padding: 0;
	flex: 1;
	text-align: justify;
	hyphens: auto;
	line-height: 1.12;
}

#version {
	text-align: right;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.85);
}
