body {
	margin: 0;
	font-family: sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: end;
	height: calc(100vh - 48px); /* - padding x 2 */
	padding: 24px;
}

.line {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4px 8px;
  display: inline-block;
  margin-bottom: 4px;
  text-align: center;
}

#bgslide {
	visibility: hidden;
	opacity: 0;
	transition: opacity 300ms ease-in, visibility 0ms ease-in 300ms;
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	gap: 4px;
}

#bgslide.show {
	visibility: visible;
	opacity: 1;
	transition-delay: 0ms;
}

#contents {
	box-sizing: border-box;
	font-size: x-large;
	width: 100%;
	padding: 8px;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}