.line {
	background-color: rgba(0, 0, 0, 0.90);
	padding: 4px 8px;
	display: inline-block;
	margin-bottom: 4px;
	text-align: center;
}

#contents {
	font-size: 36px;
	padding: 8px;
	align-items: center;
}
